@import 'tailwindcss';

/* @theme {  instead of using the default theme colors, we are going to use our own }*/

#root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

#root {
  @apply mx-auto min-h-screen bg-white text-center font-sans text-base leading-normal font-normal text-black antialiased;
}
